/* LAYOUT */

html * {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

#wrapper {
	position: relative;
}

#wrapper > div {
	position: absolute;
	overflow: hidden;
}

#header {
	padding-right: 5px;
	background-color: #CCCCCC;
	text-align: right;
	font-family: "Arial Black", Helvetica, Arial, freesans, sans-serif;
}

#pane {
	border-right: 2px solid #77886E;
	padding: 5px;
	background-color: #ddeedd;
}

#article {
	padding: 5px;
	background-color: #efefef;
	color: #222222;
	font-family:'ArvoRegular', serif;
	font-size: 16px;
	line-height: 22px;
	text-align: justify;
}

#article > section aside {
	background-color: #FFFFFF;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	width: 50%;
	float: right;
}

#article > section aside header {
	font-style: italic;
}

#nav div {
	padding-top: 5px;
	width: 20px;
	height: 25%;
	text-align: center;
}

#nav .tools { background-color: #6666AA; }
#nav .tools:hover,
#nav .tools.active { background-color: #9999FF; }

#nav .comments { background-color: #88AA22; }
#nav .comments:hover,
#nav .comments.active { background-color: #CCFF33; }

#nav .dictionary { background-color: #AA6644; }
#nav .dictionary:hover,
#nav .dictionary.active { background-color: #FF9966; }

#nav .library { background-color: #44AAAA; }
#nav .library:hover,
#nav .library.active { background-color: #66FFFF; }

/* FONTS */

@font-face {
	font-family: 'ArvoRegular';
	src: url('fonts/arvo/Arvo-Regular-webfont.eot');
	src: url('fonts/arvo/Arvo-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/arvo/Arvo-Regular-webfont.woff') format('woff'),
	     url('fonts/arvo/Arvo-Regular-webfont.ttf') format('truetype'),
	     url('fonts/arvo/Arvo-Regular-webfont.svg#webfontau9vOdrl') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ArvoItalic';
	src: url('fonts/arvo/Arvo-Italic-webfont.eot');
	src: url('fonts/arvo/Arvo-Italic-webfont.eot?iefix') format('eot'),
	     url('fonts/arvo/Arvo-Italic-webfont.woff') format('woff'),
	     url('fonts/arvo/Arvo-Italic-webfont.ttf') format('truetype'),
	     url('fonts/arvo/Arvo-Italic-webfont.svg#webfontvBl98OZ1') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ArvoBold';
	src: url('fonts/arvo/Arvo-Bold-webfont.eot');
	src: url('fonts/arvo/Arvo-Bold-webfont.eot?iefix') format('eot'),
	     url('fonts/arvo/Arvo-Bold-webfont.woff') format('woff'),
	     url('fonts/arvo/Arvo-Bold-webfont.ttf') format('truetype'),
	     url('fonts/arvo/Arvo-Bold-webfont.svg#webfontxi5Flt4Z') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ArvoBoldItalic';
	src: url('fonts/arvo/Arvo-BoldItalic-webfont.eot');
	src: url('fonts/arvo/Arvo-BoldItalic-webfont.eot?iefix') format('eot'),
	     url('fonts/arvo/Arvo-BoldItalic-webfont.woff') format('woff'),
	     url('fonts/arvo/Arvo-BoldItalic-webfont.ttf') format('truetype'),
	     url('fonts/arvo/Arvo-BoldItalic-webfont.svg#webfontThKCEgOx') format('svg');
	font-weight: normal;
	font-style: normal;

}

#wrapper {
	height: 600px;
	width: 600px;
}

#header {
	width: 595px;
	height: 20px;
	top: 0px;
	left: 0px;
}

#nav {
	width: 20px;
	height: 476px;
	top: 20px;
	left: 0px;
}

#pane {
	width: 187px;
	height: 470px;
	top: 20px;
	left: 20px;
}

#article_scroll {
	width: 380px;
	height: 480px;
	top: 20px;
	right: 0px;
}
