html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

header#top-bar {
	background-color: #CCCCCC;
	text-align: right;
	font-family: "Arial Black", Helvetica, Arial, freesans, sans-serif;
	padding-right: 5px;
}

/* Navigation */

nav#actions {
	width: 20px;
	height: 100%;
	float: left;
}

nav#actions div {
	padding-top: 5px;
	width: 20px;
	height: 25%;
	text-align: center;
	border-right: 2px solid #77886E;
}

nav#actions div.active {
	border-right: 0;
}

nav#actions .tools {
	background-color: #6666AA;
}

nav#actions .tools:hover,
nav#actions .tools.active{
	background-color: #9999FF;
}

nav#actions .comments {
	background-color: #88AA22;
}

nav#actions .comments:hover,
nav#actions .comments.active {
	background-color: #CCFF33;
}

nav#actions .dictionary {
	background-color: #AA6644;
}

nav#actions .dictionary:hover,
nav#actions .dictionary.active {
	background-color: #FF9966;
}

nav#actions .library {
	background-color: #44AAAA;
}

nav#actions .library:hover,
nav#actions .library.active {
	background-color: #66FFFF;
}

/* Panes */

nav#panes {
	height: 100%;
	width: 200px;
	float: left;
}

nav#panes div {
	height: 100%;
	padding: 1em;
	overflow:auto;
	display:none;
	border-right: 2px solid #77886E;
}

nav#panes div.active {
	display:block;
}

/* Main Article */

article {
	height: 100%;
	background-color: #efefef;
	padding: 1em;
	overflow: auto;
	color: #222222;
	font-family:'ArvoRegular', serif;
	font-size: 16px;
	line-height: 22px;
	text-align: justify;
}

article section {
	margin: 10px 0;
	text-indent: 4em;
	clear: both;
}

article aside {
	background-color: #FFFFFF;
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	width: 50%;
	float: right;
}

article aside header {
	font-style: italic;
}

article section.selected {
	border: solid 1px #6CC2FF;
	border-radius: 1em;
	padding: 0.5em;
	background-color: #D9EFFE;
}


/* FONTS */

@font-face {
	font-family: 'ArvoRegular';
	src: url('fonts/arvo/Arvo-Regular-webfont.eot');
	src: url('fonts/arvo/Arvo-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/arvo/Arvo-Regular-webfont.woff') format('woff'),
	     url('fonts/arvo/Arvo-Regular-webfont.ttf') format('truetype'),
	     url('fonts/arvo/Arvo-Regular-webfont.svg#webfontau9vOdrl') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ArvoItalic';
	src: url('fonts/arvo/Arvo-Italic-webfont.eot');
	src: url('fonts/arvo/Arvo-Italic-webfont.eot?iefix') format('eot'),
	     url('fonts/arvo/Arvo-Italic-webfont.woff') format('woff'),
	     url('fonts/arvo/Arvo-Italic-webfont.ttf') format('truetype'),
	     url('fonts/arvo/Arvo-Italic-webfont.svg#webfontvBl98OZ1') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ArvoBold';
	src: url('fonts/arvo/Arvo-Bold-webfont.eot');
	src: url('fonts/arvo/Arvo-Bold-webfont.eot?iefix') format('eot'),
	     url('fonts/arvo/Arvo-Bold-webfont.woff') format('woff'),
	     url('fonts/arvo/Arvo-Bold-webfont.ttf') format('truetype'),
	     url('fonts/arvo/Arvo-Bold-webfont.svg#webfontxi5Flt4Z') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'ArvoBoldItalic';
	src: url('fonts/arvo/Arvo-BoldItalic-webfont.eot');
	src: url('fonts/arvo/Arvo-BoldItalic-webfont.eot?iefix') format('eot'),
	     url('fonts/arvo/Arvo-BoldItalic-webfont.woff') format('woff'),
	     url('fonts/arvo/Arvo-BoldItalic-webfont.ttf') format('truetype'),
	     url('fonts/arvo/Arvo-BoldItalic-webfont.svg#webfontThKCEgOx') format('svg');
	font-weight: normal;
	font-style: normal;

}
